/** Default styling for <form> elements */
@import 'colors';
@import 'buttons'; /** For styling submit buttons */

fieldset.table {
	/** Table-like layout */
	display: table;
	border: 0;
	padding: 0;

	div {
		display: table-row;
		font-family: $sans-serif;
		padding: $small-skip/2;

		label, input {
			display: table-cell;
			font-size: $regular-size;
			padding: $small-skip/2;
		}

		label {
			width: auto;
			padding-left: 0;
		}

		input {
			border: 0;
			background: $od-green;
			color: $white;
		}

		input:hover, input:focus {
			background: darken($od-green, 20%);
		}
	}
}

label {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: $small-skip 0;
	font-family: $sans-serif;

	input {
		display: block;
		border: 0;
		padding: $large-padding;
		font-size: $bigger-size;
		background: $od-green;
		color: $white;
	}

	input:hover, input:focus {
		background: darken($od-green, 20%);
	}
}

input[type="submit"] {
	@extend %big-button;
}