@import 'buttons';
@import 'grids';

div.filter {
    /** Tag Buttons */
    > nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-between;
        
        button {
            background-color: darken($od-green, 15%);
            margin-bottom: $small-skip;
        }
        
        button:hover, button.inactive {
            background-color: $od-green;
        }
    }
    
    > nav.toggle-all {
        justify-content: flex-start;
        
        button {
            background-color: $dirt;
        }
    }
}

div.filter > div {
    @extend %grid-container-nx3;
    color: $charcoal;
    
    div.item {
        display: flex;
        flex-direction: column;
        min-height: 33vh;
        
        background-color: lighten($sand, 5%);
        
        img {
            max-height: 50vh;
            object-fit: cover;
        }
    }
    
    h3 {
        color: inherit;
        margin-bottom: $small-skip/2;
    }
    
    /** List of Tags */
    p.tags {
        /** Prevent overflow */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    
        span {
            background-color: lighten($dirt, 5%);
            border-radius: 0.25em;
            color: $white;
            
            font-size: $small-size;
            font-family: $sans-serif;
            font-weight: normal;
            
            margin: 0 0.25em 0.25em 0;
            padding: 0.25em;
            
        }
    }
    
    p.description {
        flex-grow: 2;
    }
    
    nav {
        text-align: right;
        
        a {
            @extend %big-button;
            
            font-size: $small-size;
        }
    }
}