/* Theme Colors */

$charcoal: #292929;
$teal:     #5b8786;
$od-green: #8f9e8b;
$sand:     #f2e6b6;
$dirt:     #412a22;

/* Basic Colors */
$black:      #000000;
$white:      #ffffff;
$light-gray: rgb(250, 250, 250);

/* Fonts */
$small-size:   14px;
$smaller-size: 15px;
$regular-size: 16px;
$bigger-size: 18px;
$big-size:  20px;

$sans-serif: Montserrat, sans-serif;
$serif:      Georgia, serif;

/* Spacing */
$big-skip:   2em;     /* Used for separating groups of elements */
$skip:       1.5em;   /* Used for separating groups of text */
$small-skip: 0.9em;   /* Used for separating elements in the same "group" */

/* Padding */
$large-padding: 8px;

/* Mixins */

@mixin margin-lr($value) {
    margin-left: $value;
    margin-right: $value;
}

@mixin margin-tb($value) {
    margin-top: $value;
    margin-bottom: $value;
}

@mixin container-width($width) {
    /* Specifies the width of the page's main containers
     * ------------------------------------------------------------
     * Rule:
     * Header, footer, and footer content should all have the same
     * left, right margins */
    header, #title {
        width: $width;
    }
    
    header, #title, article, #section-menu, footer {
        padding-left: (100% - $width)/2;
        padding-right: (100% - $width)/2;
    }
}


/* Base Classes */

.container {
    /* Base class for any container used for storing a page's main content */
    h2 { margin-top: $skip; }
    h3, h4 { margin-top: $small-skip; }
    
    p, pre, ul, ol, table, iframe  {
        margin-top: $small-skip;
        margin-bottom: $small-skip;
    }
    
    /* Remove margins for uls nested in other lists */
    li ul { margin: 0; }
}