@import 'colors';

/* n rows by 3 columns grid */
%grid-container-nx3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    font-size: $smaller-size;
    
    margin-top: $big-skip;
    margin-bottom: $big-skip;
    
    * {
        margin: 0;
        margin-bottom: $small-skip;
    }
    
    p { max-width: 100%; }
    
    > div {
        min-width: 15em;
        width: 26%; /* 33.33% - padding */
        margin-right: 2%;
        margin-bottom: $skip;
        padding: $skip;
        
        line-height: 1.35;
        
        /* Allows items to expand to fill up missing space */
        flex-grow: 1;
        
        /* Distribute items equally vertically */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        /* Buttons */
        p:last-child {
            width: 100%;
            margin-bottom: 0;
            
            a { margin-left: 0.5em; }
        }
    }
    
    h2 {
        border: 0;
        font-weight: 500;
        line-height: 1.2;
    }
}