@import 'buttons';

article {
	padding-top: 0;
}

p.tag-list {
	font-size: 0.9em;

	a {
		@extend %button-base;
		font-size: $smaller-size;
		background: darken($sand, 20%);
		color: $dirt;
	}

	a:hover {
		background: darken($sand, 40%);
	}
}
