@import 'colors';

body {
    font-family: $serif;
    font-size: $small-size;
    max-width: 45em;
    line-height: 1.4;
    margin: $big-skip auto 10% auto;
    background-color: $light-gray;
}

/* Start with having everything have zero margins
 * Then add more as appropriate
 */
body * { margin: 0; }

body, a {
    color: $charcoal;
    text-decoration: none;
}

a:hover { text-decoration: underline; }

h1, h2, h3, header { font-family: $sans-serif; }
h2, h3, h4 { font-weight: 500; }
h2 {
    border-bottom: 1px solid darken($light-gray, 10%);
    text-transform: uppercase;
    letter-spacing: -0.05em;
    
    // Make <span> elements hug bottom border
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

#name h1 {
    font-size: 3em;
    text-transform: uppercase;
    a { text-decoration: none; }
}

/* Job/School Titles */
h3 + p {
    /* Subtitles */
    margin-top: 0;
}

h2 > span, h3 > span {
    text-transform: none;
    font-weight: normal;
    float: right;
}

h2 > span { font-size: 70%; }
h3 > span { font-size: 90%; }

p, ul {
    margin-top: $small-skip/2;
    margin-bottom: $small-skip/2;
}

/* Header: Name and Contact Info */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3em;
    flex-wrap: wrap;
}

#contact {
    text-align: right;
    font-size: 95%;
    line-height: 1.6;
}

#name { line-height: 1; }
header a + a, #phone { margin-left: 1.5em; }
/* End Header */

/* Resume Body */
h2 { margin-top: $big-skip; }

// Tighten up spacing between elements
h2 + h3 { margin-top: $small-skip/2; }
h3, h4 { margin-top: $small-skip; }

/* End of Resume Body */

/* General List Styling */
ul {
    list-style: square outside none;
    padding-left: 1em;
    margin-top: 0.5em;
}
/* End of list styling */

p#brag {
    position: fixed;
    bottom: 0;
    font-size: 12px;
}

/* Responsive CSS Settings */
@page {
  size: 8.5in 11in;
  margin: 0.5in;
}

@media print {
    body {
        font-size: 13px;
        margin: 0%;
        max-width: 100%;
    }
    
    header { margin-bottom: 2em; }
    
    // Make name appear on one line
    #name br {
        display: none;
    }
    
    /* Resume Body: Tighten up spacing even more */
    h2 { margin-top: $big-skip/2; }
    /* End of Resume Body */
}

@media screen and (max-width: 700px) {
    body {
        margin-left: 5%;
        margin-right: 5%;
    }
    
    h3 > span {
        float: none;
        display: block;
    }
}