@import 'colors';
@import 'buttons';
@import 'headers';
@import 'grids';

/* Used by all every page on my website */
body {
    background-color: $light-gray;
    
    /* Font Settings */
    font-family: $serif;
    font-size: $regular-size;
    line-height: 1.55;
    color: lighten($charcoal, 5%);
}

/* Add margins as needed */
body, body * { margin: 0; }

@import 'forms';

a {
    color: saturate(lighten($dirt, 40%), 10%);
    text-decoration: none;
}

/** Justify text
#content * {
    text-align: justify;
    hyphens: auto;
}
 **/

#content h1, #content h2, #content h3, #content h4, #content h5 {
    text-align: left;
}
    
/** Header Fonts **/      
h1, h2, h3, h4, h5 {
    font-family: $sans-serif;
    
    a { color: inherit; }
}

h1 {
    font-size: 2.2em;
    font-weight: 600;
    color: darken($teal, 15%);
}

h2 {
    font-size: 1.8em;
    border-bottom: 1px solid darken($light-gray, 10%);
    color: darken($teal, 10%);
}

h2, h3, h4 { font-weight: 500; }
h3, h4 { color: darken($teal, 5%); }

h3 { font-size: 1.6em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.1em; }

/** End Header Fonts **/

/** Transitions **/
header, footer, #title, article {
    transition: width 2s, padding 2s;
}
/** End Transitions **/

/** Header **/
header, footer { font-family: $sans-serif; }

header {
    font-size: $smaller-size;
    color: $white;

    background-color: lighten($charcoal, 5%);
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    line-height: 1;
    padding-top: $small-skip;
    padding-bottom: $small-skip;
    
    * { color: inherit; }
    
    h1 {
        text-transform: uppercase;
        a:hover { text-decoration: none; }
        
        span {
            color: darken($sand, 10%);
            letter-spacing: 0.04em;
        }
    }

    nav {
        text-align: right;
        
        a {
            display: inline-block;
            padding: 0.5em 1em 0.5em 1em;
            transition: background-color 1s;
        }
        
        a:hover {
            background-color: lighten($od-green, 5%);
        }
    }   
}

#logo {    
    /* As a flexbox */
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.2em;
}

/** End of Header **/

/** Page Title **/
.page-info {
    display: block;
    font-size: $small-size;
}

/** End of Page Title **/

/** Footer **/
footer {
    font-size: $small-size;
    color: desaturate($sand, 50%);
    background: $charcoal;
    margin-top: $big-skip;
    padding-top: $small-skip;
    padding-bottom: $small-skip;
    
    * {
        font-family: inherit;
        color: inherit;
    }
    
    p {
        margin-top: $small-skip;
        margin-bottom: $small-skip;
    }
    
    /* Footer Menu */
    nav {
        width: 40em;
        margin: auto;
        text-align: center;
        display: block;
        
        a {
            margin: 1em;
            color: inherit;
        }
        
        a:hover {
            color: $sand;
        }
    }
    
    /* Social Media Buttons */
    img, svg {
        opacity: 0.5;
        height: 32px;
        margin: auto 4px auto auto;
        transition: opacity 1s;
    }

    img:hover { opacity: 1; }
}
/** End of Footer **/

/** Tables **/
$table-border-color: darken($light-gray, 10%);

table {
    border: 1px solid $table-border-color;
    width: 100%;
    border-spacing: 0;
}

td {
    border-bottom: 1px dotted $table-border-color;
    border-right: 0;
    border-top: 0;
    padding: $small-skip/2;
}

th {
    font-family: $sans-serif;
    text-align: left;
    background-color: darken($od-green, 10%);
    color: $white;
    padding: $small-skip/2;
}

/** End of Tables **/

/** Blockquotes **/
blockquote {
    margin-left: $big-skip;
}
/** End of Blockquotes **/

/** Code Blocks **/
pre {
    font-size: $small-size;
    overflow-y: auto;
    
    width: 100%;
    max-height: 50vh;
    display: block;
    margin-top: $skip;
    margin-bottom: $skip;
    
    /** Make code boxes look prettier **/
    border-radius: 0.2em;
    color: white;
    padding: $small-skip;
    white-space: pre;
    line-height: 1.5;
    display: block;
    background-color: darken($od-green, 34%);
    background-image: linear-gradient(darken($od-green, 35%) 50%,
                      transparent 0);
    background-origin: content-box;
    background-size: auto 3em;

    /* Slight override of highlight.js styles */
    code, code.hljs, samp {
        margin: 0;
        padding: 0;
        background: rgba(0, 0, 0, 0);
    }

}
/** End of Code Blocks **/

/** Common Classes **/
// A class that centers itself within its parent and its immediate children
.centered {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.centered > * {
    text-align: center;
    @extend .centered;
}