@import 'colors';

$content-max-width: 100%;

article {
    max-width: $content-max-width;
    min-height: 100vh; // Prevent footer from not being at the bottom
    padding-top: $skip;
    margin-bottom: $big-skip;
    
    > *:first-child {
        margin-top: 0;
    }
    
    @extend .container;
    
    /** Limit how much images can expand
     ** But exclude Leaflet image tiles
     **/
    img:not(.leaflet-tile leaflet-tile-loaded){
        max-width: 90%;
        max-height: 90%;
    }
}

/** Structure **/    
@media (max-width: 49.99em) {
    @include container-width(90%);
}
@media (min-width: 50em) {
    @include container-width(80%);
}
/** End Structure **/