{% extends "base.html" %}

{% block more_head %}
<link href="{{ url_for('static', filename='theme/css/one-column.css') }}" rel='stylesheet' type='text/css'>

<style type="text/css">
    .title-big {
        background:
            linear-gradient(to bottom,
                            rgba(41, 41, 41, 0.2) 0%,
                            rgba(41, 41, 41, 0.2)),
            url('/theme/images/june_lake_boi.jpg');
        background-size: 100vw;
        background-blend-mode: saturation;
    }
    
    textarea {
        width: 100%;
        height: 50vh;
    }
    
    {{ page.custom_css|safe }}
</style>
{% endblock %}

{% block title_class %}title-regular{% endblock %}
{% block title %}{{ page.title }}{% endblock %}
{% block page_title %}
    {{ page.title }}
    {% if current_user.is_authenticated %}
    <span style="float: right; font-size: 50%;">
        <a href="/pages/{{ page.id }}">[edit]</a>
    </span>
    {% endif %}
{% endblock %}

{% block content %}
    {{ page.content|safe }}
{% endblock %}