{% extends "big_title.html" %}

<!-- Base template for any pages with editors -->

{% block more_head %}
    <link href="{{ url_for('static', filename='theme/css/one-column.css') }}" rel='stylesheet' type='text/css'>
    <script src="/static/js/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>   
    <style type="text/css">
        .title-big {
            background:
                linear-gradient(to bottom,
                                rgba(41, 41, 41, 0.2) 0%,
                                rgba(41, 41, 41, 0.2)),
                url('/static/images/june_lake_boi.jpg');
            background-size: 100vw;
            background-blend-mode: saturation;
        }
        
        textarea#content, textarea#metadata {
            display: none;
        }
        
        div.editor {
            width: 100%;
            height: 70vh;
            
            textarea {
                width: 100%;
                height: 50vh;        
            }
        }
        
        .editor-fullscreen {
            textarea {
                width: 100%;
                height: 100vh;
            }
        }
        
        label {
            display: block;
        }
        
        label input, label select {
            width: 80%;
            float: right;
        }
    </style>
{% endblock %}

{% block title %}{% endblock %}
{% block page_title %}{% endblock %}

{% block content %}
{% endblock %}