{% extends "plain.html" %}

<!-- Base template for any pages with editors -->

{% block stylesheets %}  
    <!-- ACE Editor -->
    <script src="/static/vince.js/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script> 
    <script src="/static/vince.js/js/fullscreen.js" type="text/javascript"></script>
    <script src="/static/vince.js/js/preview.js" type="text/javascript"></script>
    <script src="/static/vince.js/js/minimize.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/static/vince.js/css/ace-preview.css">
    <link rel="stylesheet" type="text/css" href="/static/vince.js/css/minimizer.css">
    
    <style type="text/css">        
        textarea#content, textarea#metadata {
            display: none;
        }
        
        .editor {
            min-width: 100%;
            min-height: 50vh;
        }
    </style>
{% endblock %}

{% block title %}{% endblock %}
{% block page_title %}{% endblock %}

{% block content %}
    {% block more_content %}
    {% endblock %}
{% endblock %}