<!DOCTYPE HTML>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Vincent La">
    <meta name="description" content="A detailed explanation of how hiring Vincent La will be the best decision your company has ever made.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vincent La's Resume</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet"> 
    <link href="/static/theme/css/resume.css" rel="stylesheet" type="text/css">
</head>

<body>
    {{ page.content|safe }}
</body>

</html>