body { 
    font-size: 11pt;
    margin: 0;
    padding: 0;
}

header {
    padding-bottom: 1em;
    margin-bottom: 1.5em;
}

section + section {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

h2 {
    margin: 0;
    padding-bottom: 0.1em;
}

h2 + p, h2 + h3 {
    margin-top: 0;
}
