{% extends "base_editor.html" %}

{% block title %}Pages{% endblock %}
{% block page_title %}Pages{% endblock %}

{% block more_content %}
    {% if error %}
    <h2>Error</h2>
    <ul>
        {% for i in error %}
        <li>{{ i }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <h2>Edit Page</h2>
    <form action="{{ target }}" method="post">
        {{ form.csrf}}
        
        <label>
            Title: {{ form.page_title }}
        </label>
        
        <label>
            Template: {{ form.template }}
        </label>

        <label>
            Date: {{ form.created }}
        </label>
        
        <label>
            URL: {{ form.url }}
        </label>

        <label>
            Tags: {{ form.tags }}
        </label>
        
        <label>
            Markdown: {{ form.markdown }}
        </label>
        
        {{ form.content }}
        
        <h3> Metadata</h3>
        {{ form.metadata }}

    {{ form.submit }} {{ form.preview }}
    </form>
    
    <h2>Page Globals</h2>
    <a href="/pages/edit/globals">Page globals</a>
    
    {% if preview %}
    <h2>Preview</h2>
    {{ preview|safe }}
    {% endif %}
{% endblock %}