{% extends "plain.html" %}

<!-- Note: User currently needs to be authenticated to see this page -->

{% block title_class %}title-regular{% endblock %}
{% block title %}Pages{% endblock %}
{% block page_title %}
    Pages
    <span style="float: right; font-size: 50%;">
        <a href="/pages/new">[new]</a>
    </span>
{% endblock %}

{% block content %}
    {% for post in posts %}
        <h2>
            <a href="{{ post.url }}">{{ post.title }}</a>
            <span style="font-size: 50%;">
                ({{ post.url }})
            </span>
            
            <span style="float: right; font-size: 50%;">
                <a href="/pages/edit/{{ post.id }}">[edit]</a>
                <a href="/pages/history/{{ post.id }}">[history]</a>
                
            </span>
        </h2>
        {% if post.description %}
        <p>
            {{ post.description }}
        </p>
        {% endif %}
    {% endfor %}
{% endblock %}