body {
	background-size: auto 100vh;
	background-position: top right;
	background-color: black;
    font-size: 16px;
}

h1#name {
    font-size: 15vw;
}
    
#content {
    width: 80%;
    height: 100vh;
    
    /* Flexbox Settings */
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    text-align: center;
    @include margin-lr(auto);
}

nav {
    margin-top: 5vh;
}