body {
    background-position: center right;
	background-attachment: fixed;
}

#content {
    text-align: right;
    height: 60vh;
    @include margin-tb(20vh);
    margin-right: 15vw;

    /* Make everything flush right */
    * { margin-left: auto; }
    
    /* Limit width of welcome text */
    p {
        font-weight: 300;
        margin: 5vh 0 5vh auto;
        min-width: 15em;
        max-width: 25vw;
    }
}

h1#name {
    line-height: 0.9em;
    font-size: 3.5em;
}

/*
nav a:before {
    content: "\00BB  ";
}
*/

/* Hide about me link in landscape */
#about-link { display: none; }