@import 'colors';

body {
/*    background: url('static/young_nigga.jpg');*/
	background-repeat: no-repeat;
	font-family: $sans-serif;
    font-size: 18px;
    color: #ffffff;
}

body, body * { margin: 0; }

a { color: inherit; text-decoration: none; }

#overlay {
	width: 100vw;
	height: 100vh;
    background: linear-gradient(to bottom,
                                rgba($black, 0.5) 0%,
                                rgba($black, 0.5));
	position: fixed;
	top: 0;
	z-index: -2;
}

h1#name {
    color: #ffffff;
	font: 600 12vh $sans-serif;
	text-transform: uppercase;
	/*text-shadow: 2px 2px 5px rgb(62,96,111);*/
}

h1#name > .condensed {
    letter-spacing: 0.05em;
    font-weight: 800;
    color: $sand;
}

/* About Me, Projects */
section {
    font-family: $serif;
    min-height: 100vh;   
    margin: 4em auto 0 auto; 
    line-height: 1.55em;
    padding: 1em 10% 1em 10%;
    
    * {
        @include margin-lr(auto);
        max-width: 35em;
    }
    
    p, h1 {
        @include margin-tb(4vh);
    }
    
    h1 {
        font-family: $sans-serif;
        font-size: 2.5em;
        width: 100%;
        text-align: center;
    }
}

section + section { margin-top: 0; }

#about { background: $charcoal; }
#projects { background: $dirt; }

/* Navigation Menu Styles */
nav {
    ul {
        padding-left: 0;
    }   

    li {
        list-style-type: none;
        padding-bottom: 2.5vh;
    }

    a {
        padding: 0.35em 1em 0.35em 1em;
        font-weight: 400;
        font-size: 1.1em;
        display: inline-block;	
        background: rgba($od-green, 0.8);
        color: #fcfff5;
    }    
    
    a:hover { background: $dirt; }
}

@media (orientation: landscape) {
    @import 'index-landscape';
}

@media (orientation: portrait) {
    @import 'index-portrait';
}