{% extends "base_editor.html" %}

{% block title %}New Post{% endblock %}
{% block page_title %}New Post{% endblock %}

{% block content %}
    <h2>New Post</h2>
    <form action="{{ target }}" method="post">
        {{ form.csrf}}
        
        <label>
            Title: {{ form.page_title }}
        </label>
        
        <label>
            Author: {{ form.author }}
        </label>
        
        <label>
            Draft: {{ form.draft }}
        </label>
        
        {{ form.content }}
        
        {{ form.submit }} {{ form.preview }}
    </form>
    
    {% if preview %}
    <h2>Preview</h2>
    {{ preview }}
    {% endif %}
{% endblock %}