{% extends "base_editor.html" %}

<!-- Template for editing and creating pages -->

{% block title %}
    {% if post %}
    Editing: {{ post.title }}
    {% else %}
    New Post
    {% endif %}
{% endblock %}
{% block page_title %}
    {% if post %}
    Editing: {{ post.title }}
    {% else %}
    New Post
    {% endif %}
{% endblock %}

{% block more_content %}
<!-- enctype="multipart/form-data" necessary for file transfer -->
<form enctype="multipart/form-data" action="{{ target }}" method="post">
    {{ form.csrf }}

    {% if post %}<input type="hidden" name="_method" value="put" />{% endif %}

    <label>Title: {{ form.page_title }}</label>
    <label>Author: {{ current_user.full_name }} (logged in as {{ current_user.name }})</label>
    <label>Date: {{ form.created }}</label>
    <label>Image: {{ form.image }}</label>
    <label>Tags: {{ form.tags }}</label>
    <label>Draft: {{ form.draft }}</label>

    {{ form.content }}

    <h2> Metadata</h2>
    {{ form.metadata }}

    {{ form.submit }} {{ form.preview }}
</form>
{% endblock %}