{% extends "plain.html" %}

{% macro show_post(post, delete_text='delete') -%}
<h3>
    <a href="/blog/{{ post.url }}">{{ post.title }}</a>
    <span style="float: right; font-size: 12pt;">
        {{ post.created }}
        {% if current_user.is_authenticated %}
        <a href="/blog/{{ post.id }}">[edit]</a>
        <a onClick="blog_delete({{ post.id }})">[{{ delete_text }}]</a>
        {% endif %}
    </span>
</h3>
    {% if post.description %}
<p>{{ post.description }}</p>
    {% endif %}

    {% if post.get_tags() %}
<p style="font-size: 0.9em;">
    Filed Under:
    {% for i in post.get_tags() %}
    <a href="/blog/tags/{{ i }}">{{ i }}</a>
    {% endfor %}
</p>
    {% endif %}
{%- endmacro %}

{% block title %}Blog{% endblock %}
{% block page_title %}Blog
{% if current_user.is_authenticated %}
<span style="float: right; font-size: 50%;">
    <a href="/blog/new">[new]</a>
</span>
        {% endif %}
{% endblock %}

{% block content %}
<script type="text/javascript">
    function blog_delete(post_id) {
        var del_req = new XMLHttpRequest();
        del_req.open('DELETE', '/blog/' + post_id.toString());
        del_req.send(null);
    }
</script>

<p>Here are some of my thoughts that I have put to paper.</p>

    {% for post in posts %}
{{ show_post(post) }}
    {% endfor %}

    {% if current_user.is_authenticated %}
<h2>Unpublished</h2>
    {% for post in drafts %}
{{ show_post(post) }}
    {% endfor %}

<h2>Deleted</h2>
    {% for post in deleted %}
{{ show_post(post) }}
    {% endfor %}

    {% endif %}
{% endblock %}